python-dotenv==1.0.0
streamlit==1.30.0
requests==2.31.0
pandas==2.1.4
streamlit-folium==0.18.0
pydantic==2.5.3
langchain==0.1.16
tiktoken==0.5.2
openai==1.6.1
faiss-cpu==1.7.4
transformers==4.36.2
sentence_transformers==2.2.2
chainlit==1.0.504
duckduckgo-search==5.3.0
georouting==0.0.8
googlemaps==4.10.0
langchain-google-genai==1.0.2
amadeus==10.0.0
firebase-admin==6.5.0
extra-streamlit-components==0.1.71
email_validator==2.1.1
langchainhub==0.1.15
